/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 7, 2022, 5:06:16 PM
    Author     : vince
*/
body{
    width: 100%;
    background-color: whitesmoke;
    margin: 0 auto;
}
.fp-topnav{
    height: 75px;
    background-color: #3b5998;
    overflow: hidden;
    width: 100%;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.forgot-block{
    justify-content: center;
    height: 150px;
    width: 400px;
    margin-top: 170px;
}
.forgot-block form{
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: 0px;
    margin-top: 0px;
}
label{
    width: 200px;
}
input{
    width: 175px;
}
.btn{
   
}
h2{
    color: white;
    font-size: 50px;
    margin: 5px;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    margin-right: 190px;
}
.links-box{
    height: 315px;
    border-right: 1px solid lightgrey;
    width: 150px;
    float: left;
    margin: 10px;
    margin-top: 100px;
}
ul{
    text-align: right;
    margin-left: 30px;
}
li{
    list-style: none;
    color: orange;
    text-align: right;
    margin: 10px;
}
.links-box form{
    margin-left: auto;
    margin-right: 40px;
    width: auto;
    height: auto;
}
li a{
    text-decoration: none;
    color: #3b5998;
    text-align: right;
}
header{
    text-align: left;
    font-size: 25px;
    color: black;
    width: 100%;
}
hr{
     width: 50px;
    border: none;
    margin-top: 0px;
    background-color: lightgray;
    color: #333;
    border-bottom: 1px solid lightgray;
    margin-left: 5px;
}