/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 10, 2022, 9:44:29 PM
    Author     : vince
*/
body{
    width: 100%;
    background-color: whitesmoke;
    margin: 0;
}
.topnav-login{
    height: 75px;
    background-color: white;
    color: orange;
    overflow: hidden;
}
h2{
    font-size: 50px;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 5px;
}
label{
    text-align: right;
}
form{
    margin-top: -30px;
    float: right;
    margin-right: 5px;
}